<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring-Boot-Web-Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<h1>Address List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Address2</th>
        <th>District</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Phone</th>
        <th>Location</th>
        <th>Last Update</th>
    </tr>
    <tr th:each="address : ${addresses}">
        <td th:text="${address.addressId}"></td>
        <td th:text="${address.address}"></td>
        <td th:text="${address.address2}"></td>
        <td th:text="${address.district}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.postalCode}"></td>
        <td th:text="${address.phone}"></td>
        <td th:text="${address.location}"></td>
        <td th:text="${address.lastUpdate}"></td>
    </tr>
</table>

</body>
</html>
