<div>
  <div (mouseleave)="showDropDown = false">
    <button class="drop-toggle btn flat" (click)="showDropDown=!showDropDown">
      <span *ngIf="checkedList.length<=0">Select</span>
      <span *ngIf="checkedList.length>0">{{checkedList.join(', ')}}</span>
      <i class="fa fa-angle-down"></i>
    </button>
    <div class="drop-show" *ngIf="showDropDown">
      <label *ngFor="let category of allCategory">
        <input type="checkbox"
               (change)="getSelectedValue(category.name)"/>
        <a routerLink="/category/{{category.categoryId}}" routerLinkActive="active-link">
          {{category.name}}</a>
        <span>{{category.name}}</span>
      </label>
    </div>
  </div>
</div>
<!--
<div class="container">

  <div class="form-group">
    <select formControlName="website" class="form-control">
      <option disabled>Select Website</option>
      <option>Choose Website</option>
      <option *ngFor="let web of allCategory">
        <label>
          <input type="checkbox" [(ngModel)]="web.name"
                 (change)="getSelectedValue(web.name)"/>
        </label>
        {{web.name}}
      </option>
    </select>
  </div>

</div>
-->
