<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="detail-section">
      <div class="container-fluid">

        <form [formGroup]="addFilmFormGroup" (ngSubmit)="onSubmit()">
          <div formGroupName="film" class="form-area">
            <div class="row">
              <div class="col-md-2"><label>Title</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="title" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Description</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="description" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Expiration Year</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="releaseYear">
                    <option *ngFor="let year of releaseYears" [ngValue]="year">{{year}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Language</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="language">
                    <option *ngFor="let language of languages" [ngValue]="language">{{language.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Rental Duration</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="rentalDuration" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Rental Rate</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="rentalRate" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Movie Length</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="length" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Replacement Cost</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="replacementCost" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Special Features</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <div *ngFor="let control of specialFeaturesArray.controls; let i=index">
                    <input class="form-check-input" type="checkbox" [formControl]="control"
                          (change)="getSelectedFeaturesValue()" id="inlineCheckbox{{i}}">
                    <label class="form-check-label" for="inlineCheckbox{{i}}">{{features[i]}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Rating</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="rating">
                    <option *ngFor="let name of enumKeys" [ngValue]="name">{{currentRating[name]}}</option>
                  </select>
                </div>
              </div>
            </div>

          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


